html, body { 
    height:100%;
}

body {
    background-image: url(https://raw.githubusercontent.com/stuartmurry/Hangman-Game/master/assets/images/backgnd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

@font-face {
    font-family: "myFirstFont";
    src: url("/assets/zdr.ttf");
}

.container {
    font-family: "myFirstFont";
    color: black;
}

.header {
    font-size: 70px;
    text-align: center;
}

.tHeader {
    font-family: "myFirstFont";
    color: black;
    font-size: 30px;
}

.table {
    font-family: "myFirstFont";
    color: black;
    font-size: 20px;
}

.wrapper {
    text-align: center;
    margin:0 auto;
    font-family: "myFirstFont";
    padding: 14px 24px;
    border: 0 none;
    font-weight: 90px;
    letter-spacing: 1px;
}

table.table-bordered{
    border:1px solid black;
    margin-top:20px;
  }
table.table-bordered > thead > tr > th{
    border:1px solid black;
}
table.table-bordered > tbody > tr > td{
    border:1px solid black;
}

th {
    border:1px solid black;
}
